<nav class="w-full h-20 bg-purple-300 flex items-center justify-center gap-6">
    <a
        href="/"
        class="p-1.5 bg-purple-500 text-white rounded-2xl flex items-center justify-center"
        >Mentions Légales</a
    >
    <a
        href="/offres"
        class="p-1.5 bg-purple-500 text-white rounded-2xl flex items-center justify-center"
        >Contact</a
    >
</nav>
